.mainContainer{
    background: #11112d;
    height: auto;
    width: 100%;
    display: flex;
    justify-content:center;
    overflow-y: auto;
    border-radius: 16px;
}

.pageFrame {
    margin-top: 20px;
    height: auto;
    width: 90%;
    background: rgba(255, 255, 255, 0.143);
    border: 1px solid white;
    border-radius: 16px;
    z-index: 10;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 50px;
    margin-left:10px;
    

}

.title {
    padding-top: 20px;
    font-family: 'Proxima Nova';
    font-size: 36px;
    color:rgb(253,201,30);


}

.text {
    font-family: 'Proxima Nova';
    font-size : 20px;
    color: white;
    width: 80%;
}

.question{
    font-family: 'Proxima Nova';
    font-size: 26px;
    color:rgb(253, 201, 30);
}


.bottom{
    font-family: 'Proxima Nova';
    font-size : 20px;
    color: white;
    width: 80%;
    padding-bottom: 30px;

}

.logo{
    height: 130px;
    width: 110px;
    padding-top:60px;
}