html {
    font-size:16px
}
/* parent container */
.header {
    display:flex;
    background-color: white;
}

/* container for logo and brand*/

 /* also a parent container for logo and brand link */
.headerLeft {
    display:flex;
    justify-content: start;
    gap: 1rem; 

}

/* child for Logo*/
.headerLogo{
    width: auto;  
}

/* child for brand link */ 
.brandLink {
    font-family:'san serif';
    font-size: 28px;
}

/* parent container for navigation */
.headerRight {
    display:flex;
    justify-content:center;
}

.btn {
    font-family: 'Lucida Sans';
    gap: 1rem;
}