.html {
    font-size: 16px;
}

/* vh is viewport height, better for scalability */
.header {
    display:flex;
    background-color:rgb(4,4,59);
    width:100%;
    height: 9dvh;
    z-index:10;
    justify-content:space-between;
    align-items:center;
    border-bottom: 3px solid rgba(255,255,255,0.1);

}

.headerLeft{
    display:flex;
    justify-content:flex-start;
    gap: .1rem;
    z-index:10;
    align-items:center;
}


.headerLogo{
    width:auto;
    height:12vh;
    margin-right: 1rem;

}

.brandLink {
    font-family: 'Roboto';
    font-size: 2rem;
    color:white;
    text-decoration:none;
}

.headerRight{
    display:flex;
    justify-content:flex-end;
    gap: 2rem;
    margin-right:1rem;
    align-items:center;
}

.btn{
    text-decoration: none;
    font-family: 'Proxima Nova';
    font-size: 2rem;
    color:white;
}

.searchContainer{
    position:relative;
}


.search {
    background-color: white;
    height: 16px;
    width: 70%;
    border-radius: 16px;
    border: 1px solid rgb(232, 232, 232);
}

.dropContainer{
    width: 30rem;
    height: 30rem;
    background-color: rgb(225, 225, 225);
    position:absolute;
    top:10%;
    right:15;
    z-index:100;
    display:flex;
    flex-direction:column;
    overflow-y:auto;
    gap: 1rem;

}

.topResult {
    color:black;
    font-size: 38;
    height: 4rem;
    bottom:.5rem;

}

.song {
    color: black;
    background-color:white;
    height:2rem;
    width:100%;
}