.html {
    font-size: 16px;
}

/* vh is viewport height, better for scalability */
.header {
    display:flex;
    background-color:rgb(4,4,59);
    width:100%;
    height: 9vh;
    z-index:10;
    justify-content:space-between;
    align-items:center;
    border-bottom: 3px solid rgba(255,255,255,0.1);

}

.headerLeft{
    display:flex;
    justify-content:flex-start;
    gap: .1rem;
    z-index:10;
    align-items:center;
}


.headerLogo{
    width:auto;
    height:12vh;
    margin-right: 1rem;

}

.brandLink {
    font-family: 'Roboto';
    font-size: 2rem;
    color:white;
    text-decoration:none;
}

.headerRight{
    display:flex;
    justify-content:flex-end;
    gap: 2rem;
    margin-right:1rem;
    align-items:center;
}

.btn{
    text-decoration: none;
    font-family: 'Proxima Nova';
    font-size: 2rem;
    color:white;
}


