.backgroundImage {
    display:flex;
    justify-content:center;
    align-items:center;
    height:600px;
    width:100%;
}


h1 {
    text-align:center;
    font-size:56px;
    color:white;
    font-family: 'Proxima Nova';
    font-style: oblique;
    font-weight:100;
    margin-top: 100px;
}



p {
    font-size:45px;
    color:black;
    font-family:'Proxima Nova';
    text-align:center;
    
}

.highlight {
    color: rgb(4, 4, 59);
    font-family: 'Proxima Nova';
    font-weight:bold;
}


h2 {
    font-family: 'Proxima Nova';
    font-size:45px;
    text-align:center;
    margin-bottom: 100px;
    margin-top:100px;
    font-weight: 100;

}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.container { 
    position:relative;
}