
h1 {
    text-align:center;
    font-size:36px;
    color:black;
    font-family: 'Playfiar Display', sans-serif;
    font-style: oblique;
    font-weight:100;
    margin-top: 100px;
}



p {
    font-size:18px;
    color:black;
    font-family:'Open Sans';
    text-align:left;
}

.highlight {
    color: rgb(4, 4, 59);
    font-family: 'Abril Fatface', sans-serif;
    font-weight:bold;
}


h2 {
    font-family: 'Roboto';
    font-size:26px;
    text-align:center;
}