
/* parent container */
.container {
    display:flex;

    background-image: url('../assets/never.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 60vh;
    z-index: 0;
}



.hero {
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content:space-evenly;
    padding-left:1rem;

}

.details {
    display: flex;
    flex-direction:column;
    gap: 1rem;
}
.h1 {
    color:white;
    font-family: 'Proxima Nova';
    font-size: 3.5rem;
    font-style:oblique;

}

.p {
    font-size: 2rem;
    color:white; 
    font-family:'Proxima Nova';
    line-height:1.5;
    font-style:oblique;

}

.p2 {
    font-size:1.5rem;
    color:white;
    font-family:'Proxima Nova';
}

.btnContainer {
    display:flex;
    flex-direction:row;
    font-style:oblique;


    gap:2rem;
    align-items:center;

}

.btn {
    background-color:rgb(60, 68, 209);
    color: white;
    font-weight: 100;
    padding: 10px 32px;
    text-decoration:none;
    border-radius:8px;

}

.btn2 {
    text-decoration: none;
    color:rgb(4,4,59);
    background-color:rgb(255, 255, 255);
    padding: 5px 16px;
    border-radius: 8px;
    
}



.mainContainer{
    display:flex;
    background-image:linear-gradient(to left, rgb(0, 0, 0), rgb(4,4,59)); 
    height:60vh;
    width:100%;
    padding-top: 3rem;
    
    justify-content:space-between;
    
}




.textContainer{
    display:flex;
    flex-direction: column;
    gap:1rem;
    
    
}

.headerContainer{
    margin-top:1rem;
    align-self: center;

}

.pContainer{
    padding-top:2rem;
    padding-left:2rem;

}

.img {
    padding-top: 2rem;
}

.divider {
    height:2vh;
    width:100%;
    background-color: rgb(4,4,59); 
}

.howSection {
    display: flex;
    height: 60vh;
    width: 100%;
    background-image:linear-gradient(to left, rgb(0, 0, 0), rgb(4,4,59)); 
    padding-top:2rem;
}


.howLeft {
    align-items:center;
    display:flex;
    flex: 1;
    flex-direction: column;
    padding-top:1rem;
    gap: 5rem;
    margin-left: 1rem;
    

}

.howRight {
    flex: 1;
    background:url('../assets/guitar.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   

}


.footer {
    width: 100%;
    height:20vh;
    background:linear-gradient(to bottom, rgb(4,4,59), rgb(0,0,0));
}