
/* parent container */
.container {
    display:flex;

    background-image: url('../assets/never.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 60vh;
    z-index: 0;
}



.hero {
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content:space-evenly;
    padding-left:1rem;

}

.details {
    display: flex;
    flex-direction:column;
    gap: 1rem;
}
.h1 {
    color:white;
    font-family: 'Proxima Nova';
    font-size: 3.5rem;
    font-style:oblique;

}

.p {
    font-size: 2rem;
    color:white; 
    font-family:'Proxima Nova';
    line-height:1.5;
    font-style:oblique;

}

.p2 {
    font-size:1.5rem;
    color:white;
    font-family:'Proxima Nova';
}

.btnContainer {
    display:flex;
    flex-direction:row;
    font-style:oblique;


    gap:2rem;
    align-items:center;

}

.btn {
    background-color:rgb(57, 57, 211);
    color: white;
    font-weight: 100;
    padding: 10px 32px;
    text-decoration:none;
    border-radius:8px;

}

.btn2 {
    text-decoration: none;
    color:rgb(4,4,59);
    background-color:rgb(255, 255, 255);
    padding: 5px 16px;
    border-radius: 8px;
    
}

.mainContainer{
    display:flex;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(27, 27, 122)); 
    height:40vh;
    width:100%;
    
    justify-content:space-between;
    
}




.textContainer{
    display:flex;
    flex-direction: column;
    gap:1rem;
    
    
}

.headerContainer{
    margin-top:1rem;
    align-self: center;

}

.pContainer{
    padding-left:2rem;

}

