.html {
    font-size: 16px;
}


.header {
    display:flex;
    background-color:rgb(4,4,59);


}

.headerLeft{
    display:flex;
    justify-content:center;
}


.headerLogo{
    width:auto;
}

.brandLink {
    font-family: 'Roboto';
}

.headerRight{
    display:flex;
}

.btn{
    text-decoration: none;
    font-family: 'Proxima Nova';
}

.backgroundImage {
    height:500px;
    width:100%;
    object-fit:cover;
}


h1 {
    text-align:center;
    font-size:56px;
    color:white;
    font-family: 'Proxima Nova';
    font-style: oblique;
    font-weight:100;


}



p {
    font-size:30px;
    color:white;
    font-family:'Proxima Nova';
    text-align:center; 
    z-index:10;
    position:absolute;
    top: 30%;
    left: 2%;
    font-style:oblique;
}

.p2 {
    font-size:30px;
    color:white;
    font-family:'Proxima Nova';
    position:absolute;
    top:40%;
    text-align:center;
    white-space: nowrap;
    left:2%;


}

.highlight {
    color: rgb(4, 4, 59);
    font-family: 'Proxima Nova';
    font-weight:bold;
}


h2 {
    font-family: 'Proxima Nova';
    font-size:45px;
    text-align:center;
    margin-bottom: 100px;
    margin-top:100px;
    font-weight: 100;

}

.hero {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%)
}

.container { 
    position:relative;
}


.btn {
    border: none;
    background-color: #4873f4;
    color: white;
    position:absolute;
    bottom: 20%;
    left: 2%;
    padding: 10px 32px;
    font-size:28px;
    border-radius: 5px;
    box-shadow: #000000;
    font-family: 'Proxima Nova';


}


.btn2 {
    border:none;
    background-color: white;
    padding: 5px 30px;
    position:absolute;
    bottom: 20%;
    left: 15%;
    color: rgb(4, 4, 59);
    font-family: 'Proxima Nova';
    border-radius:5px;

}

.maincontainer {
    position:relative;
    background: linear-gradient( to bottom, #04043B, #4873f4)
}


.musicsheet {
    height: 400px;
    width: 40%;
    padding-top:50px;
}


.maintext{
    color: white;
    font-size: 56px;
    font-family: 'Proxima Nova';
    position: absolute;
    top: 20%;
    right: 20%; 
    font-style:oblique;
    font-weight:100;
}

.subheading {
    font-size: 26px;
    position: absolute;
    bottom: 40%;
    color:white;
    white-space:nowrap;
    right: 59%;
    font-style:oblique;
    text-align:center;


}