
h1 {
    text-align:center;
    font-size:56px;
    color:black;
    font-family: 'Proxima Nova';
    font-style: oblique;
    font-weight:100;
    margin-top: 100px;
}



p {
    font-size:45px;
    color:black;
    font-family:'Proxima Nova';
    text-align:center;
    
}

.highlight {
    color: rgb(4, 4, 59);
    font-family: 'Proxima Nova';
    font-weight:bold;
}


h2 {
    font-family: 'Proxima Nova';
    font-size:45px;
    text-align:center;
    margin-bottom: 20px;
    font-weight: 100;

}