.pianoContainer {
    display: flex;
    height: 40vh;
    width: 40dvw;
    background:rgb(19, 16, 16);
    border-radius: 8px;
    align-items:center;
    justify-content:center;
    


}


.keys {
    width: 70%;
    height:10vh;
    display:flex;


}



.whiteKey {
    background-color: rgb(249, 244, 244);
    border: 1px solid rgb(25, 24, 24);
    width:8rem;
    height:23vh;
    border-radius: 8px;

}

.keyLabel {
    font-size : 28px;
    font-family: 'Proxima Nova';
    color: black;

}

.blackKey {
    background-color: rgba(24, 23, 23, 0.851);
    height:50%;
    width:2rem;
    border-radius:2px;


}
