.pianoContainer {
    display: flex;
    height: 50vh;
    width: 50dvw;
    background:rgb(19, 16, 16);
    border-radius: 8px;
    align-items:center;
    justify-content:center;
    


}


.keys {
    width: 80%;
    height:20vh;
    display:flex;


}



.whiteKey {
    background-color: rgb(249, 244, 244);
    border: 1px solid rgb(25, 24, 24);
    width:8rem;
    height:30vh;
    border-radius: 8px;
    


}

.keyLabel {
    position:relative;
    bottom: -80%;
    font-size : 28px;
    font-family: 'Proxima Nova';
    color: black;
    left: 30%;

}

.blackKey {
    background-color: rgba(0, 0, 0, 0.851);
    height:60%;
    width:2.5rem;
    border-radius:2px;


}
