.pianoContainer {
    display: flex;
    height: 20vh;


}

.whiteKey {
    background-color: rgb(194, 185, 185);
    border: 1px solid white;
    width:8rem;

}

.keyLabel {
    font-size : 28px;
    font-family: 'Proxima Nova';
    color: black;

}

.blackKey {
    background-color: black;
    height:40%;
    width:4rem;


}