.pianoContainer {
    display: flex;
    height: 39vh;
    width: 47dvw;
    background:rgb(19, 16, 16);
    border-radius: 8px;
    justify-content:center;
    align-items:center;
    

    


}


.keys {
    display:flex;
    align-items:center;
    justify-content:center;

    

 

}


.keyGroup{
    position:relative;
}


.whiteKey {
    background-color: rgb(249, 244, 244);
    border: 1px solid rgb(25, 24, 24);
    width:6rem;
    height:30vh;
    border-radius: 8px;
    position:relative;

    


}

.keyLabel {
    position:absolute;
    bottom: 10px;
    font-size : 28px;
    font-family: 'Proxima Nova';
    color: #000000;
    align-items:center;
    width:100%;
}

.blackKey {
    background-color: rgb(0, 0, 0);
    height:70%;
    width:2.5rem;
    border-radius:4px;
    z-index:2;
    position:absolute;
    top:0;
    left:100%;
    transform:translateX(-50%);


}
