.pianoContainer {
    display: flex;
    height: 40vh;
    width: 40dvw;
    background:rgb(19, 16, 16);
    border-radius: 8px;
    align-items:center;
    justify-content:center;
    


}


.keys {
    width: 70%;
    height:10vh;
    display:flex;


}



.whiteKey {
    background-color: rgb(194, 185, 185);
    border: 1px solid white;
    width:8rem;
    height:20vh;
    border-radius: 8px;

}

.keyLabel {
    font-size : 28px;
    font-family: 'Proxima Nova';
    color: black;

}

.blackKey {
    background-color: rgba(24, 23, 23, 0.851);
    height:40%;
    width:4rem;
    border-radius:8px;


}
