.mainContainer {
    background-color: var(--secondary);
    height:auto;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap: 5px;
    overflow-y:auto;
    gap: 10dvh; 
    
}

.intro {
    margin-top: 30px;
    color: white;
    font-size: 30px;
    height: 50px;
    width: 100%;
    font-family:'Proxima Nova';
    display:flex;
    justify-content:center;

}

.questionBox {
   min-height: auto;
    width: 80%;
    background: rgba(255, 255, 255, 0.128);
    border: 1px solid rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    gap: 15px;
    font-size: 26px;
    justify-content:space-around;
    align-items:center;
    padding-bottom: 15px;
    padding-top : 15px;
}

.Note{
    font-size: 3rem;
    color: rgb(227, 196, 22);
}

.question1 {
    color: white;
}

.btnContainer{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
    width: 80%;
}

.btn {
    background: #11112d;
    border-radius: 8px;
    padding: 16px 16px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.btn2 {
    background:rgb(227, 196, 22);
    border-radius: 8px;
    padding : 16px 46px;
    color:white;
    text-decoraTion: none;
    cursor: pointer;
    align-items:center;
    display:flex;
    justify-content: center;
    font-family:'Proxima Nova';
}


.selectedAnswer{
    background: #11112d;
}

.btn3 {
    background:rgb(227, 196, 22);
    padding: 10px 16px;
    border-radius: 16px;
    gap: 20px;
    color:white;
    font-family:'Proxima Nova';
    font-size:20px;
    cursor: pointer;

}

.PianoStyles{
    transform: scale(.8);
    transform-origin: center;
}

.message{
    color: white;
    font-size: 28;
}