.mainContainer {
    background-color: var(--secondary);
    height:200dvh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap: 5px;
    overflow-y:auto;
    gap: 10dvh; 
    
}

.intro {
    color: white;
    font-size: 30px;
    height: 50px;
    width: 100%;
    font-family:'Proxima Nova';
    display:flex;
    justify-content:center;

}

.questionBox {
    height: 450px;
    width: 80%;
    background: rgba(255, 255, 255, 0.128);
    border: 1px solid rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
    justify-content:space-around;
    align-items:center;
    padding-bottom: 15px;
}

.Note{
    font-size: 3rem;
    color: rgb(227, 196, 22);
}

.question1 {
    color: white;
}

.btn {
    background: #11112d;
    border-radius: 8px;
    padding: 8px 8px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
