.mainContainer {
    width:100%;
    min-height: 91dvh;
    height: 1000px;
    background-color: var(--secondary);
    display:flex;
    flex-direction: column;

}

.songImage {
    height: 300px;
    width: 100%;
    background-color: var(--secondary);
    display:flex;
    padding-top:  20px;
    padding-bottom: 20px;
    border: 2px solid black;
    border-bottom: 1px solid rgb(233, 207, 62);
    padding-left: 10px;
    
}

.songTitle {
    font-family: 'Proxima Nova';
    color: white;
    padding-left: 20px;
    font-size : 40px;
    display:flex;
    flex-direction: column;
}

.artistName {
    font-family: 'Proxima Nova';
    color: rgb(233, 207, 62);
    padding-left: 20px;
    font-size : 30px;
}

.details{
    color: white;
    font-size: 20px;
    padding-left: 20px;
    display: flex;
    gap: 36px;
}

.progression{
    color:rgb(233, 207, 62);
    font-family: 'Proxima Nova';
    padding-left: 20px;
    font-size: 18px;
}

.lyricsContainer{
    margin-top: 10px;
    width: 100%;
    padding-left: 40px;
    border-bottom: 1px solid rgb(233, 207, 62);
    background-color: var(--secondary);
    display:flex;
    justify-content: space-between;
}

.container{
    height: auto;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    max-height: 300px;
}

.LyricsTitle{
    color: white;
    font-size: 40px;
    border-bottom: 2px solid black;
}

.lyrics{
    color: white;
    width: 50%;
    font-size: 20px;
    gap: 10px;
    height: auto;

}

.youtubePlayer{
    width: 560px;
    height: 315px;
    position: sticky;
}

.sectionHeader{
    color: white;
    font-size: 14px;
    padding-top: 20px;
    width:100%;
}

.theory{
    color: rgb(233, 207, 62);
    font-size: 26px;
    font-family: 'Proxima Nova';
    padding-left: 40px;
    margin-top: 20px;
}