.mainContainer {
    width:100%;
    height: 91dvh;
    background-color: var(--secondary);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;

}


.container {
    width: 33%;
    height: 80dvh;
    background-color: white;
    z-index: 2;
    border-radius: 16px;
    justify-content:center;
    gap: 2rem;

}

.text {
    display:flex;
    justify-content:center;
    color : black;
    align-items:center;
    font-size: 2rem;
    padding-top: 3rem;
    gap: 2rem;
    padding-left: 2rem;
} 

.title {
    font-size: 2rem;
}

.tabContainer {
    height: 20px;
    width: 70%;
    display:flex;

}

.tab {
    background-color: grey;
    

}

.tabActivated {
    pointer-events: none;
    background-color: blue;

}

.separate{
    display:flex;
    justify-content: spcae-evenly;
}