.mainContainer {
    width:100%;
    height: 91dvh;
    background-color: var(--secondary);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;

}


.container {
    width: 33%;
    height: 80dvh;
    display:flex;
    flex-direction:column;
    background-color: white;
    z-index: 2;
    border-radius: 16px;
    justify-content:center;
    align-items:center;
    gap: 2rem;
    

}

.text {
    display:flex;
    justify-content:center;
    color : black;
    align-items:center;
    font-size: 2rem;
    padding-top: 3rem;
    gap: 2rem;
    padding-left: 2rem;
} 

.title {
    font-size: 2rem;
}

.tabContainer {
    height: 30px;
    width: 90%;
    display:flex;
    background-color: rgb(230, 228, 228);
    border-radius:16px;
    justify-content:space-evenly
    

}

.tab {
    background-color:rgb(238, 228, 228);


    

}

.tabActivated {
    pointer-events: none;
    background-color: rgb(4,4,59);
    border-radius: 16px;
    color:white;

}

.separate{
    display:flex;
    justify-content: spcae-evenly;
}

.button1 {
    background-color: rgb(4,4,59);
    border: 1px solid grey;
    width: 20%;
    height: 20px;
    color: white;
    align-items:center;

}

.Google {
background-color:white;
height:30px;
align-items:center;

}