.mainContainer {
    width:100%;
    height: 91dvh;
    background-color: white;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    flex-direction: auto;

}


.container {
    width: 50%;
    height: 80dvh;
    display:flex;
    justify-content:space-evenly;
    background-color: white;
    border-radius: 16px;

}