.mainContainer {
    width:100%;
    height: 100dvh;
    background-color: var(--secondary);
    position:relative;
    display:flex;
    justify-content:center;
}


.container {
    display:flex;
    border-radius:8px;
    background-color: white;
    height: 70vh;
    width: 80dvw;
    z-index: 2;
    position:absolute;
}