.mainContainer {
    width:100%;
    height: 91dvh;
    background-color: var(--secondary);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    flex-direction: auto;
}


.container {
    display:flex;
    border-radius:8px;
    height: 80vh;
    width: 80%;
    z-index: 2;
    border: 2px solid rgb(29, 28, 28);
    background-color: white;
    overflow-y: hidden;
}