.mainContainer {
    width:100%;
    height: 91dvh;
    background-color: var(--secondary);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    flex-direction: auto;

}


.container {
    width: 50%;
    height: 80dvh;
    display:flex;
    justify-content:space-evenly;
    background-color: white;

}

.containerLeft {
    height: 100%;
    width: 65%;
    display:flex;
    flex-direction: column;
    background-color: rgb(4, 4, 59);
    text-align:center;


}

.containerRight {
    height: 100%;
    width: 50%;
    background-color: white;
    display:flex;
    flex-direction:column;
    justify-content:center;


}

.forms {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    justify-content:center;
    align-items:center;
    
}



.h1 {
    color: black;
    font-family: 'Proxima Nova';
    font-size: 5rem;


    
}

.btn {
    border-radius: 8px;
    background: rgb(212, 196, 53);
    color: white;
    align-content:center;
    padding: 5px 16px;
}

.error {
    color: rgb(227, 34, 34);
    font-size: 8px;
}

.button {
    background-color:transparent;
    border: 1 px solid grey;
    border-radius: 8px;
    text-align:center;
    display:flex;
    align-items:center;
    
}

.header {
    color : white;
    font-size: 3rem; 
    
}

.line {
    border-bottom:1px solid black;
    width:112px;
    height:47px;
    

}