/* main window for the entire site */
.pageFrame{ 
    display:flex;
    flex-direction:column;
    width:100%;
    height:100dvh;
    overflow: hidden;

}

.lessonSlot {
    flex: 1;
    overflow:hidden;
    position:relative; 
}

.mainContainer {
    display:flex;
    width:100%;
    height:100%;
    background:#11112d; 
}


.leftPanel {
    padding-top: 3rem;
    display:flex;
    flex-direction: column;
    background:white;
    width: 30%;
    height:100%;
    padding-left: 2rem;
    gap: 4rem;
    overflow-y:auto;
    padding-right: .5rem;

}

.leftPanel > *{
    margin: 0;
}



h1 {
    font-family: serif;
    font-size:3rem;
    color:black;
    text-decoration:none;
    font-weight:400;

}


.rightPanel {
    background: #11112d;
    height:100%;
    width:70%;;
    z-index:10;
    align-items:center;
}

p {
    font-size: 2rem;
    font-family:serif;
    font-weight:50;
    line-height:1.5;

}

.footer {
    background: rgb(6, 7, 30); 
    height: 9vh;
    width: 100%;

}
