/* main window for the entire site */
.mainContainer {
    display:flex;
    width:100%;
    height:100vh;
    background-color:#0b0b15;

}





.h1 {
    font-family:'Proxima Nova', sans-serif;
    font-size: 2rem;
    color:white;
    text-decoration:none;

}