/* main window for the entire site */
.mainContainer {
    display:flex;
    width:100%;
    height:100vh;
    background:#11112d;

}


.leftPanel {
    background-color:white;
}



.h1 {
    align-self:center;
    font-family:'Proxima Nova', sans-serif;
    font-size: 2rem;
    color:black;
    text-decoration:none;

}


.rightPanel {
    background-color: white;


}