.body {
  margin: 0;
  padding:0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items:center;
}

.main-container {
  min-height: 100vh;
}

.header {
  background: rgb(4, 4, 59);
  color: white;
  padding: 3px 2px;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display:flex;
  align-items:center;
  justify-content: space-between;
}


.header-left {
  display:flex;
  align-items: center;
  gap: 10px;
}

.header-right {
  display:flex;
  gap: 10px;
}


.btn:hover {
  background: rgb(4, 4, 59);
}

.header-logo {
  height: 90px;
  width: auto;
  left:10px;
}


.btn {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  Color: white;
  font-weight:300;
  word-spacing:normal;
}

