:root { 
    --primary: rgb(4,4,59);
    --secondary: #11112d;
    font-size: 62.5%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


body { 
    margin: 0;
    padding:0;
}

b {
    font-weight:bold;
}

input {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    outline:none;
    transition: border-color 0.2s;
}