html { box-sizing: border-box; } 
*, *::before, *::after { box-sizing : inherit;}

body {
  margin: 0;
  padding:0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items:center;
}

.main-container {
  min-height: 100vh;
}

.header {
  background: rgb(4, 4, 59);
  padding: 1px 10px;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display:flex;
  align-items:center;
  justify-content: space-between;
  width: 100%;

}


.header-left {
  display:flex;
  align-items: center;
  gap: 10px;
}

.header-right {
  display:flex;
  gap:50px;
}


.btn:hover {
  background: rgb(4, 4, 59);
}

.header-logo {
  height: 90px;
  width: auto;
  left:10px;
}


.btn {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  Color: white;
  font-weight:300;
  word-spacing:normal;
}


a {
  text-decoration: none;
}

h1 {
  Color: white;
  text-align:center;

}

h3 {
  color: white;
  text-align: center;
}